*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
   
    
}

header{
    display: flex;
background-color: #91c788;
height: 10vh;
align-items: center;
}

#art{
    display: flex;
    background-color: #FEFFDE;
    height: 90vh;
   align-items: center;
    justify-content: center;  
    text-align: center;
}   


footer{
    background-color: #91c788;
    height: 10vh;
}

.logo{
    margin: 5px;
    height: 10vh;
    width: 20vh;
    
}
.pole{
    background-color: #91c788;
    width: 60vw;
    height: 70vh;
}

#podziekowania{
    display: flex;
    height: 10vh;
    border-bottom: 1vh solid #FEFFDE;
   align-items: center;
   justify-content: center;
   font-size: 45px;
   color: #FEFFDE ;
}



#zakupioneRzeczy{
    display: flex;

    height: 37vh;
    border-bottom: 1vh solid #FEFFDE;
  
   justify-content: flex-start;
   font-size: 15px;

   color: #FEFFDE;

   
}

#kupiles{
    position: absolute;
    top: 33%;
    left: 22%;
    font-size: 35px;
    color: #FEFFDE ;
}

.addres{

    display: flex;
    height: 25vh;
    border-bottom: 1vh solid #FEFFDE;

    
   font-size: 35px;

   color: #FEFFDE ;
}
#addres{
    
margin-top: 3vh;

}




.labbutton{
    padding:15px;
    color: #FEFFDE  ;
    background-color:#91c788  ;
   cursor: pointer;
   border: none;
   font-size: 16px;
   text-align: center;
   text-decoration: none;
   

}

#kupioneProdukty{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 5vw;
    margin-top: 6vh;
  

}

li{
    margin: 6px;
    font-size: 24px;
    list-style: none;
    text-align: start;
}